.tracking-bubble {
  $size: 80px;
  position: absolute;
  height: $size;
  width: $size;
  border-radius: $size / 2;
  opacity: 0;
  left: 0;
  top: 0;
  background-color: #fff;
  transition: opacity .6s, left .2s, top .1s;
  margin-left: -($size / 2);
  margin-top: -($size / 2);

  &.visible {
    opacity: .5;

    .inactive & {
      opacity: .3;
    }
  }
}
