.tracking-bubble {
  $size: 80px;
  position: absolute;
  height: $size;
  width: $size;
  border-radius: $size / 2;
  opacity: 0;
  left: 50%;
  top: 50%;
  background-color: #fff;
  transition: opacity 2s, left .6s, top .6s;
  margin-left: -($size / 2);
  margin-top: -($size / 2);

  &.visible {
    opacity: .5;
    transition: opacity .2s, left .6s, top .6s;

    .inactive & {
      opacity: .3;
    }
  }
}
