$row-height: 32px;

$icon-stripe-width: 3px;

.weather {
  .hourly {
    width: 100%;

    tr {
      height: $row-height;
    }

    .icon {
      text-align: left;
      border-left: $icon-stripe-width solid;
      position: relative;

      canvas {
        position: relative;
      }
    }

    .icon-visible {
      padding-left: ($icon-stripe-width * 4);
      .arrow {
        &:after, &:before {
          left: -$icon-stripe-width;
          top: 50%;
          border-style: solid;
          content: '';
          height: 0;
          width: 0;
          position: absolute;
          pointer-events: none;
          border-color: rgba(255, 255, 255, 0);
        }

        &:before {
          border-left-color: #fff;
          border-width: 10px;
          margin-top: -10px;
        }

        &:after {
          border-left-color: #000;
          border-width: 5px;
          margin-top: -5px;
        }
      }

      &.icon-uphalf .arrow {
        &:before {
          margin-top: -26px;
        }

        &:after {
          margin-top: -21px;
        }
      }
    }

    tr:first-child .icon:before,
    .icon-group-start:before,
    tr:last-child .icon:after,
    .icon-group-end:after {
      content: '';
      background: #000;
      height: $icon-stripe-width + 1;
      width: $icon-stripe-width;
      display: block;
      position: absolute;
      left: -$icon-stripe-width;
    }

    tr:first-child .icon,
    .icon-group-start {
      &:before {
        top: 0;
      }
    }

    tr:last-child .icon,
    .icon-group-end {
      &:after {
        bottom: 0;
      }
    }

    .icon-uphalf canvas {
      height: $row-height;
      width: $row-height;
      top: -($row-height / 2);
    }

    .time, .temp {
      text-align: right;
    }

    .prob {
      text-align: left;
    }

    .temp {
      padding-right: 3px;
    }

    .prob {
      padding-left: 3px;
    }

    .temp, .prob {
      &.min {
        font-weight: 300;
      }

      &.less {
        font-weight: 500;
      }

      &.more {
        font-weight: 700;
      }

      &.max {
        font-weight: 900;
      }
    }
  }
}

.fadein-invisible {
  opacity: 0;
}

@for $delay from 0 through 50 {
  .fadein-after-#{$delay * 10} {
    animation-name: fadein;
    animation-duration: .5s;
    animation-delay: ($delay * 10ms);
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
