#root {
  height: 100%;
  width: 100%;

  .container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
    align-content: stretch;

    .row {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: stretch;
      align-content: stretch;

      .empty {
        min-width: 1px;
        min-height: 1px;
      }
    }
  }

  .even > * {
    flex: 1;
  }

  .center {
    display: flex;
    align-items: center;
    align-content: center;
    text-align: center;
    
    > div {
      margin: 0 auto;
    }
  }
}
